{% extends 'base.html' %}
{% load static %}


{% block content %}
    
<!-- FAQ Header-->

<section id="faq-header" class="bg-light py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        Cookies Policies
                    </h1>
                    <p class="lead pb-3">
                        Last updated: January 2nd, 2023
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-2 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h3 class="mb-3">Summary</h3>
                <ul>
                    <li class="mb-3">Cookies used: Own and Third Party</li>
                    <li class="mb-3">Are they used to obtained statistics? <strong>Yes, the legal basis being legitimate interest in better management of the service.</strong></li>
                    <li class="mb-3">Third party services that install cookies through this website: Google, and Google analytics</li>
                </ul>
                <h3 class="mt-5 mb-3">How to configure and disable cookies</h3>
                <p class="mb-3">You can configure your browser to accept or reject all cookies or to notify you when a cookie is set. You can also delete cookies that have already been set. For more information, please consult below the help and support area of your browser.</p>
                <ul>
                    <li class="mb-3"><a href="https://support.microsoft.com/en-gb/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank" rel="noopener noreferrer">Edge</a></li>
                    <li class="mb-3"><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" rel="noopener noreferrer">Google Chrome</a></li>
                    <li class="mb-3"><a href="https://support.google.com/chrome/answer/114662?hl=en&visit_id=1-636664625754483085-1648636281&rd=1&co=GENIE.Platform%3DAndroid&oco=1" target="_blank" rel="noopener noreferrer">Google Android</a></li>
                    <li class="mb-3"><a href="https://support.mozilla.org/en-US/kb/block-websites-storing-cookies-site-data-firefox" target="_blank" rel="noopener noreferrer">Firefox</a></li>
                    <li class="mb-3"><a href="https://support.apple.com/en-au/guide/safari/sfri11471/mac" target="_blank" rel="noopener noreferrer">Safari</a></li>
                </ul>

                <h3 class="mt-5 mb-3">1. Types and uses</h3>
                <p class="mb-3">The service uses its own and third-party cookies to improve navigation, provide the service and obtain statistics on the use of the website.</p>

                <h3 class="mt-5 mb-3">2. What is a cookie and what is it used for?</h3>
                <p class="mb-3">A cookie is a small text file that is stored on your computer, tablet or smartphone when you visit a website. Cookies allow a website to recognize a user's device. The use of cookies makes browsing easier and more enjoyable. For example, a cookie can store your preferences for a website or remember that you have already filled in a form on a website. In addition, cookies allow us to obtain information about the use of the website and to improve the user experience.</p>

                <h3 class="mt-5 mb-3">3. What types of cookies are there?</h3>
                <p class="mb-3">There are different types of cookies. The following table shows the different types of cookies and their purpose.</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Type of cookie</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Technical cookies</td>
                            <td>These cookies are necessary for the website to function and cannot be deactivated in our systems. They are usually only set in response to actions you take that correspond to a service request, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not work. These cookies do not store any personally identifiable information.</td>
                        </tr>
                        <tr>
                            <td>Personalization cookies</td>
                            <td>These cookies allow the website to remember information that changes the way the website behaves or looks, such as your preferred language or the region in which you are located.</td>
                        </tr>
                        <tr>
                            <td>Analytics cookies</td>
                            <td>These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. All information collected by these cookies is aggregated and therefore anonymous. If you do not allow these cookies, we will not know when you have visited our site, and we will not be able to monitor its performance.</td>
                        </tr>
                        <tr>
                            <td>Advertising cookies</td>
                            <td>These cookies are used to make advertising messages more relevant to you and your interests. They also limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They are usually placed by advertising networks with the website operator's permission. They remember that you have visited a website and this information is shared with other organizations, such as advertisers. Often targeting or advertising cookies will be linked to site functionality provided by the other organization.</td>
                        </tr>
                        <tr>
                            <td>Behavioral advertising cookies</td>
                            <td>These cookies are similar to advertising cookies. They are used to provide you with content that is tailored to your interests. They remember that you have visited a website and this information is shared with other organizations, such as
                                advertisers. Often targeting or advertising cookies will be linked to site functionality provided by the other organization.</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="mt-5 mb-3">4. Own cookies</h3>
                <p class="mb-3"> Finally, and according to its purpose, we have:
                    <ul>
                        <li class="mb-3">Technical cookes; They improve navigation and the proper functioning of the web.</li>
                        <li class="mb-3">Personalisation cookies; They allow access to the service with predefined characteristics based on a series of criteria. </li>
                        <li class="mb-3">Analysis cookies; They allow you to statistacally meaasure and analyse the use made of the service provided</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</section>



{% endblock %}
