{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<!-- Show Case -->
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        <strong>QR Club</strong>
                    </h1>
                    <p class="lead mb-5">A simple way to manage your QR codes</p>
                    <div class="mt-5">
                    <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">
                        <i class="bi bi-person-plus-fill"></i> Register
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'img/qr-showcase.png' %}" alt="" class="img-fluid d-none d-lg-block mt-5 rounded">
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- Boxes --> 
<div id="boxes" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center border-primary mb-resp">
            <div class="card-body">
              <h3 class="text-primary">Customize your QR code</h3>
              <p class="text-muted">Customize your QR code with your logo, colors and brand.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center bg-primary text-white mb-resp">
            <div class="card-body">
              <h3>Intuitive QR tool</h3>
              <p>Our tool is so easy to use that anyone can create QR code in a matter of seconds</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center border-primary mb-resp">
            <div class="card-body">
              <h3 class="text-primary">Designed for teams</h3>
              <p class="text-muted">Create multiple users under a team to collaborate faster on your QR code creation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="how" class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5">
            <h1 class="text-primary pb-3">Create you own QR code in a matter of seconds</h1>
            
                <div class="row">
                    <div class="col">
                        <div class="steps bg-primary rounded">
                            <img src="{% static 'img/step1.png' %}" alt="">
                            <p class="text-white"> <strong>Step 1:</strong> Select the web address that your QR code needs to forward to.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="steps bg-secondary rounded">
                            <img src="{% static 'img/step2.png' %}" alt="">
                            <p class="text-white"><strong>Step 2:</strong> Customise and design it as you like.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="steps bg-primary rounded">
                            <img src="{% static 'img/step3.png' %}" alt="">
                            <p class="text-white"> <strong>Step 3:</strong> Download your QR code.</p>
                        </div>
                    </div>
                </div>

          </div>
        </div>
      </div>
    </div>
</section>


<section id="showcase2" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        <strong>QR Club</strong>
                    </h1>
                    <p class="lead mb-5">Boost Your Business Today!</p>
                    <div class="mt-5">
                    <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">
                        <i class="bi bi-person-plus-fill"></i> Register
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}