{% extends 'base.html' %}
{% load static %}

{% block content %}

    
    <div class="container">     
            <!-- code for displaying a the profile photo and key information below and then a section to update password-->
           
            <div class="row mb-5">
                <form class="form-horizontal" action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center mt-5">
                       <img src="{{ request.user.avatar.url }}" alt="" class="rounded-circle mt-5">
                    </div>

                    {% include 'partials/_alerts.html' %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Security</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-3">
                                    <label class="col-form-label">Current password</label>
                                </div>
                                <div class="col-8">
                                    <input name="password" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="row g-3 align-items-center mt-1">
                                <div class="col-3">
                                    <label class="col-form-label">New password</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" name="new_password" class="form-control">
                                </div>
                            </div>

                            <div class="row g-3 align-items-center mt-1">
                                <div class="col-3">
                                    <label class="col-form-label">Confirm password</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" name="new_password2" class="form-control">
                                </div>
                            </div>

                            <div class="col-10 mt-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>

    



{% endblock %}